<div class="w-full px-12">
<%= form_with(model: article, local: true, html: {class: 'bg-white shadow-2xl rounded px-8 pt-6 pb-8 mb-4'}) do |form| %>
 
  <div class="field">
    <%= form.label :title, class: 'form-text my-3' %>
    <%= form.text_field :title, class: 'input-form' %>
  </div>

  <div class="field">
    <%= form.label :content, class: 'form-text my-3' %>
    <%= form.text_area :content, class: 'input-form' %>
  </div>

  <div class="field">
    <%= form.label :image, class: 'form-text my-3' %>
    <%= form.file_field :image, class: 'form-text' %>
  </div>

   <div class="field flex my-3">
    <%= form.label :category_id, 'Select the continent:', class: 'form-text m-3' %>
    
    <%= form.select :category_id, options_for_select(@categories), {}, class: 'bg-white text-orange-600' %>
    </div>
 
  <div class="my-5 flex justify-evenly">
    <div class="actions">
      <%= form.submit class: "btn-orange" %>
    </div>
    <%= link_to 'Back', articles_path, class: "inline-block align-baseline font-bold text-sm text-orange-500 hover:text-orange-900" %>
  </div> 
   </div>
<% end %>
</div>