<%= render "partials/navbar" %>
<%= render "partials/errors" %>

<div class="flex center py-1">
  <div class="mx-5 w-full relative">
    <% @top_article.each do |article| %>
      <%= link_to article do %>
        <%= image_tag article.image, alt: 'Top Main Image', class: 'top-img-size object-cover rounded w-full' %>
        <div class='absolute bottom-0 txt-bg w-full font-bold'>
           <%= link_to article do %>
          <h2 class="m-4 text-orange-600 "><%= article.title %></h2>
        <% end %>
        <%= link_to article do %>
          <h2 class="m-4 text-white"><%= truncate article.content, length: 60, omission: '...(click for more)' %></h2>
         <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="flex>
  <div class="mx-5 relative">
    <% @articles.each do |article| %>
      <%= image_tag article.image, class: 'top-img-size object-cover' %>
      <div class='absolute bottom-0 txt-bg w-full font-bold'>
        <%= link_to article do %>
        <h2 class="m-4 text-orange-600 "><%= article.title %></h2>
        <% end %>
        <%= link_to article do %>
        <h2 class="m-4 text-white"><%= truncate article.content, length: 60, omission: '...(click for more)' %></h2>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render "partials/footer" %>

