<%= render "partials/errors" %>
<%= render "partials/navbar" %>
<div class="bg-white m-12 shadow-2xl rounded">
  <p class="text-orange-600 text-2xl p-5">
    <strong>Title:</strong>
    <%= @article.title %>
  </p>
  <div class="text-xl p-5">
    <p>
    <%= @article.content %>
    </p>
  </div>
  <div class="text-xl p-5 flex place-content-center">
    <p>
      <%= image_tag @article.image %>
    </p>
  </div>
  
</div>
<%= render "partials/footer" %>