<%= render "partials/errors" %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @article.image, class: 'form-img' %>
</p>

<%= button_to 'Vote', article_votes_path(@article), method: :post %>
<p>
  <%= @article.votes.count %> 
  <%= (@article.votes.count) == 1 ? 'Vote' : 'Votes'%>
</p>
<%= link_to 'Delete', articles_path, method: :destroy %>
<%= link_to 'Back', articles_path %>
